# 1. IGNORE THE HEAVY DATA FOLDERS 
/02_Data_Raw/
/03_Alteryx_Workflows/
/05_Excel_Analysis/
/06_Tableau_Workbooks/

# 2. IGNORE LARGE FILE TYPES 
*.csv
*.xlsx
*.xlsm
*.xlsb
*.yxdb
*.yxzp
*.hyper
*.twbx
*.zip
*.twb.bak
*.bak

# 3.THE "BRAIN" OF THE PROJECT 
# Allow the folders so GitHub can see your hard work
!/01_Documentation/
!/04_SQL_Scripts/

# small script and text files are ALWAYS uploaded
!*.sql
!*.md
!*.txt